# **Titanic: Machine Learning from Disaster - Part 1** #

## **Contents** ##
1. Frame the problem
2. Collect the data

## **1. Frame the problem**
**Problem**: We have a list of known victims of the Titanic incident, some survived, some were not as fortunate. Can we learn some patterns from this data about what factors contribute to the surviving chance of a people, and use them to predict other unknown victims whether they survived or not?

**Motivation**: A learning experience. I'm a newbie at Data Science and Machine Learning and this is my first Kaggle competition. In this small project, I try to work through a problem from end-to-end, trying out different things. Also I'm pretty curious about what make some people having a higher chance of surviving in a shipwreck!

**Assumptions**: Women, children and the upper-class were more likely to survive. Like in the end of the infamous movie Titanic(1997), Rose were alived but not her lover Jack.

## **2. Collect the data** ##

As this is a "Getting Started" Kaggle type of competition, the data are already collected in neat .csv files. 

First, we load the data from the .csv file into 2 Dataframe, a Pandas data structure. The "train" Dataframe will be used to train our machine learning models, and the "test" Dataframe will be used to evaluate our models.

In [1]:
import pandas as pd

# load the train and test file into 2 Dataframe
train = pd.read_csv('dataset/train.csv')
test = pd.read_csv('dataset/test.csv')

# preview the train data
train.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [2]:
# preview the test data
test.head()

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S

Obviously the test Dataframe lack the "Survived" column, which is our output variable (1 is survived, 0 is not) that we are trying to predict. Let's try to determine the size of our train data.

In [3]:
print('Number of samples in our train data is: %d' % train.shape[0])
print('Number of features in our train data is: %d' % train.shape[1])
print('\nNumber of samples in our test data is: %d' % test.shape[0])
print('Number of features in our test data is: %d' % test.shape[1])

Number of samples in our train data is: 891
Number of features in our train data is: 12

Number of samples in our test data is: 418
Number of features in our test data is: 11

We can see that this is a pretty small dataset, with only 12 variables(1 is the output "Survived" and 11 is the input) and less than 1000 samples for the train set. In the next step, we will do the wrangling task to make sure our data is cleaned.